/*!home:widget/index/banner/banner.less*/
.widget-home-index-banner {
	padding: 0 0 50px;
	margin-bottom: 0
}

.widget-home-index-banner .slides li {
	overflow: hidden;
	text-align: center
}

.widget-home-index-banner .slides img {
	display: block;
	height: auto
}

.widget-home-index-banner .flex-control-nav {
	bottom: 8px;
	height: 8px
}

.widget-home-index-banner .flex-control-paging li a {
	height: 8px;
	width: 8px;
	background: transparent;
	border: 1px solid #fff;
	box-shadow: none;
	border-radius: 4px
}

.widget-home-index-banner .flex-control-paging li a.flex-active {
	background: #fff
}

.widget-home-index-banner .flex-direction-nav li {
	width: 42px;
	height: 42px;
	position: absolute;
	top: 59px
}

.widget-home-index-banner .flex-direction-nav a {
	width: 42px;
	height: 42px
}

.widget-home-index-banner .flex-direction-nav a:before {
	content: '';
	width: 42px;
	height: 42px;
	background: url(/A307/index/arrow_ff8c3ca.png)
		no-repeat 0 0 transparent
}

.widget-home-index-banner .flex-direction-nav a.flex-next:before {
	background: url(/A307/index/arrow_ff8c3ca.png)
		no-repeat -47px 0 transparent
}

.widget-home-index-banner .flex-direction-nav .flex-nav-prev {
	left: 0
}

.widget-home-index-banner .flex-direction-nav .flex-nav-next {
	right: 0
}
/*!home:widget/index/hotcinema/hotcinema.less*/
.widget-home-index-cinema {
	margin-bottom: 37px
}

.widget-home-index-cinema .sub-title {
	padding-bottom: 13px
}

.widget-home-index-cinema .sub-title a {
	margin-top: 5px
}

.widget-home-index-cinema .cinemalist {
	border-top: 1px solid #f1f1f1
}

.widget-home-index-cinema .cinemalist li {
	margin-bottom: 15px
}

.widget-home-index-cinema .cinemalist li h4 {
	margin: 15px 0 14px;
	height: 16px;
	line-height: 16px;
	overflow: hidden
}

.widget-home-index-cinema .cinemalist li .icon {
	display: inline-block;
	height: 16px;
	line-height: 16px;
	color: #fff;
	padding: 0 3px;
	background: #ff318c;
	margin-left: 5px
}

.widget-home-index-cinema .cinemalist li .icon-group {
	background-color: #ff318c
}

.widget-home-index-cinema .cinemalist li .icon-seat {
	background-color: #56b2fd
}

.widget-home-index-cinema .cinemalist li .icon-mem {
	background-color: #ffb94d
}

.widget-home-index-cinema .cinemalist li .price {
	font-size: 16px;
	color: #ff318c;
	padding-right: 5px
}

.widget-home-index-cinema .cinemalist li p {
	height: 14px;
	line-height: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.widget-home-index-cinema .cinemalist li .addr {
	margin-bottom: 14px
}

.widget-home-index-cinema .cinemalist .item-empty {
	padding: 20px 0;
	border-bottom: 1px solid #f3f3f3
}
/*!home:widget/index/index.less*/

/*!home:widget/index/list/list.less*/
.widget-home-index-list {
	margin: 4px 0 0 -15px;
	width: 982px
}

.widget-home-index-list .loading {
	height: 40px;
	background: url(/static/home/static/img/loading_b8c01e8.gif) no-repeat
		center center transparent;
	background-size: 20px 20px
}

.widget-home-index-list .sub-title {
	padding-left: 15px
}

.widget-home-index-list .pager {
	margin-right: 15px
}

.widget-home-index-list .movielist {
	position: relative;
	margin-bottom: 36px
}

.widget-home-index-list .movielist li.item {
	padding: 10px;
	width: 140px;
	border: 1px solid #fff
}

.widget-home-index-list .movielist li.item .img {
	width: 100%;
	height: 206px;
	overflow: hidden
}

.widget-home-index-list .movielist li.item img {
	display: block;
	width: 100%;
	position: relative;
	cursor: pointer;
	height: 206px
}

.widget-home-index-list .movielist li.item .text {
	height: 16px;
	line-height: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 13px 0
}

.widget-home-index-list .movielist li.item .record {
	padding-top: 6px;
	right: 0;
	top: 14px;
	padding-left: 5px;
	background-color: #fff
}

.widget-home-index-list .movielist li.item .buy {
	display: inline-block;
	width: 68px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #ff318c;
	color: #ff318c;
	border-radius: 2px;
	text-align: center
}

.widget-home-index-list .movielist li.item .buy:hover {
	background-color: #ff318c;
	color: #fff
}

.widget-home-index-list .movielist li.item .detail {
	display: inline-block;
	width: 68px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #e3e3e3;
	border-radius: 2px;
	text-align: center
}

.widget-home-index-list .movielist li.active {
	border: 1px solid #ff318c
}

.widget-home-index-list .movielist li.item:hover {
	border: 1px solid #ff318c
}

.widget-home-index-list .flex-direction-nav li {
	width: 42px;
	height: 42px;
	position: absolute;
	top: 86px
}

.widget-home-index-list .flex-direction-nav .flex-prev {
	left: 0
}

.widget-home-index-list .flex-direction-nav .flex-next {
	right: 0
}

.widget-home-index-list .flex-direction-nav a {
	width: 42px;
	height: 42px
}

.widget-home-index-list .flex-direction-nav a:before {
	content: '';
	width: 42px;
	height: 42px;
	background: url(/A307/index/arrow_ff8c3ca.png)
		no-repeat 0 0 transparent
}

.widget-home-index-list .flex-direction-nav a.flex-next:before {
	background: url(/A307/index/arrow_ff8c3ca.png)
		no-repeat -47px 0 transparent
}

.widget-home-index-list .flex-direction-nav .flex-nav-prev {
	left: 0
}

.widget-home-index-list .flex-direction-nav .flex-nav-next {
	right: 0
}